
.cart {
    max-width: 600px;
    margin: 0px auto;
}

.cart-item {
    box-shadow: 5px 5px 20px #c5c5c5,
        -5px -5px 20px #fbfbfb;
}

.cart-item>img {
    width: 100px;
}


.description p:nth-child(1) {
    font-family: monospace;
}

.count-handler {
    display: flex;
}

.count-handler button {
    height: 25px;
    width: 25px;
}

.count-handler input {
    width: 40px;
    pointer-events: none;
}

.checkout{
    max-width: 300px;
}

.checkout div button{
    background: #000;
    color: white;
    font-weight: 600;
    transition: color 200ms ease-in;
}